{% extends 'base.html.twig' %}

{% block title %}B-mobile || Mon-compte{% endblock %}

{% block body %}


<div class="main_slider_ext">
  <div class="text-center mb-3 responsive">
    <img src="{{ qrCode }}" alt="User Qr"/>
  </div>
</div>
{% endblock %}
