{% extends 'base.html.twig' %}

{% block title %}B-mobile || Devenir-Partenaire{% endblock %}

{% block body %}

<div class="container main_slider_ext">
    <div class="container col-xxl-8 px-4 py-5">
        <h2 class="mb-3">Être partenaire enseigne de B-mobile</h2>
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		  <div class="col-10 col-sm-8 col-lg-6">
			<img src="{{ asset('assets/img/inscription-img.png') }}" class="d-block mx-lg-auto img-fluid" alt="" width="300" height="300" loading="lazy">
		  </div>
		  <div class="col-lg-6">
			<span style="color:red">PARTENAIRE DE VOS VENTES ET DE VOTRE DÉVELOPPEMENT</span>    

            <br><b>Pourquoi devenir partenaire enseigne B-mobile?</b> 
			<p class="lead">
				
				<i class="fa fa-check" aria-hidden="true"></i>Boostez vos ventes sans prendre de risques.
				<br>
				<i class="fa fa-check" aria-hidden="true"></i>Développez votre notoriété locale.
				<br>
				<i class="fa fa-check" aria-hidden="true"></i>Completez votre planning avec des offres de dernière minute.
				<br>
				<i class="fa fa-check" aria-hidden="true"></i>Trouvez de nouveaux clients et fidélisez-les.
			</p>
			
		  </div>
		</div>
       
        <span style="color:red">Profitez de tous les avantages partenaire</span>    
        <br>
        <b>
            Devenir partenaire enseigne B-mobile, c’est profiter de nos nombreux avantages pensés pour votre réussite et l’atteinte de vos objectifs.
        </b> 
        <p class="lead">
            <i class="fa fa-check" aria-hidden="true"></i>Une grande visibilité et un très fort bouche à oreille
            <br>
            <i class="fa fa-check" aria-hidden="true"></i>La garantie d’acquérir de nouveaux clients de valeur
            <br>
            <i class="fa fa-check" aria-hidden="true"></i>Des ambassadeurs impliqués pour booster vos ventes
            <br>
            <i class="fa fa-check" aria-hidden="true"></i>Un accompagnement dédié et personnalisé
        </p> 
        <br>
        <span style="color:red; font-weight:bold">COMMENT DEVENIR PARTENAIRE ENSEIGNE ?</span> 
        <p> 
            Une hotline se tient à votre disposition du lundi au samedi de 9h à 18h au :
           <br>
           <span style="color:red; font-weight:bold"> 00221 33-000-00-00 / 00221 77-687-89-05 </span>
            Ou écrivez-nous sur  <span style="color:red; font-weight:bold">partenaires@bmobile.com </span>
       </p>  
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="#" class="btn btn-dark btn-md px-4 me-md-2">Nous-contacter</a>
        </div>

	  </div>
</div>

{% endblock %}
