{% extends 'base.html.twig' %}

{% block title %}B-mobile || Parainnage{% endblock %}

{% block body %}


	<!-- A propos de B-Mobile -->

	<div class="container main_slider_ext text-center">
		
        <h2>B-mobile une communauté</h2>
          
                
                    <p>
                        La plateforme regroupe tout une communaté, tout une famille et chacun avec son essentiel. 
                        Invite tes filleuls et vous les permettrez de vivre d'inoubliables experiences. <br>
                        B-mobile, c'est ta vie, ton essentiel.
                        Tu veux agrandir la communaute Bantoo et devenir un super parrain?<br>
                        Ramene un max de membres (Kiffeurs) et gagne de nombreux lots et
                        des bons de consommation<br>
                    </p>

                    <img src="{{ asset('assets/img/carteright.jpg') }}" alt="Carte Bmobile">
         
        
    
            <h2>C'est Comment?</h2>
            <div class="container mb-5">
              <div class="row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card card_black">
                      <div class="card-body">
                        <h3 class="card-title card_title_red">1</h3>
                        <p class="card-text card_text_white"> 
                          Posseder d'abord la carte B-Mobile <br>
                          Acceder a la page parrainage<br>
                          Copier son code de parrainage <br>
                          Envoyer l'invitation 
                        </p>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="card card_black">
                        <div class="card-body">
                          <h3 class="card-title card_title_red">2</h3>
                          <p class="card-text card_text_white">
                              
                              Il accepte ton invitation <br>
                              Il s'inscrit sur la plateforme avec ton code <br>
                              Lorsqu'il achete le Kit B-mobile, il devient officiellement ton Filleul
                            
  
                          </p>
                          
                        </div>
                      </div>
                    </div>
                  <div class="col-sm-4">
                    <div class="card card_black">
                      <div class="card-body">
                        <h3 class="card-title card_title_red">3</h3>
                        <p class="card-text card_text_white">
                          Une fois tes invitations validées et que tes filleuls aient acheté leur carte B-mobile, 
                          tu beneficies de reductions spéciales et des bons plans(voyage ...)
                          
                        </p>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h2>Mes Gains</h2>
              <div class="container mb-5">
              <div class="mb-3">
  
                  <p>
                      <a class="btn btn-secondary btn-block" data-toggle="collapse" href="#collapseCinq" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                          5 filleuls
                      </a>
                     
                    </p>
                    <div class="collapse" id="collapseCinq">
                      <div class="row">
                          <div class="col-sm-4 mb-3 mb-sm-0">
                              <div class="card card_black">
                                <div class="card-body">
                                  <h3 class="card-title card_title_red">Pack 1</h3>
                                  <p class="card-text card_text_white">
                                          1 bon de consommation de 5000fr
                                  </p>
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                              <div class="card card_black">
                                <div class="card-body">
                                  <h3 class="card-title card_title_red">Pack 2</h3>
                                  <p class="card-text card_text_white">5Go de connexion de données</p>
                                 
                                </div>
                              </div>
                            </div>
                           <div class="col-sm-4 mb-3 mb-sm-0">
                              <div class="card card_black">
                                <div class="card-body">
                                  <h3 class="card-title card_title_red">Pack 3</h3>
                                  <p class="card-text card_text_white">5000Fr de crédit téléphonique</p>
                                 
                                </div>
                              </div>
                            </div>
                      </div>
                     
                    </div>
              </div>
              <div class="mb-3">
  
                  <p>
                      <a class="btn btn-dark btn-block" data-toggle="collapse" href="#collapseDix" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                          10 filleuls
                      </a>
                     
                    </p>
                    <div class="collapse" id="collapseDix">
                      <div class="row">
                          <div class="col-sm-4 mb-3 mb-sm-0">
                              <div class="card card_black">
                                <div class="card-body">
                                  <h3 class="card-title card_title_red">Pack 1</h3>
                                  <p class="card-text card_text_white">With supporting text below as a natural lead-in to additional content.</p>
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                              <div class="card card_black">
                                <div class="card-body">
                                  <h3 class="card-title card_title_red">Pack 2</h3>
                                  <p class="card-text card_text_white">With supporting text below as a natural lead-in to additional content.</p>
                                 
                                </div>
                              </div>
                            </div>
                           <div class="col-sm-4 mb-3 mb-sm-0">
                              <div class="card card_black">
                                <div class="card-body">
                                  <h3 class="card-title card_title_red">Pack 3</h3>
                                  <p class="card-text card_text_white">With supporting text below as a natural lead-in to additional content.</p>
                                 
                                </div>
                              </div>
                            </div>
                      </div>
                     
                    </div>
              </div>
              <div class="mb-3">
  
                  <p>
                      <a class="btn btn-info btn-block" data-toggle="collapse" href="#collapseVingt" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                       20 filleuls
                      </a>
                     
                    </p>
                    <div class="collapse" id="collapseVingt">
                      <div class="row">
                          <div class="col-sm-4 mb-3 mb-sm-0">
                              <div class="card card_black">
                                <div class="card-body">
                                  <h3 class="card-title card_title_red">Pack 1</h3>
                                  <p class="card-text card_text_white">With supporting text below as a natural lead-in to additional content.</p>
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4 mb-3 mb-sm-0">
                              <div class="card card_black">
                                <div class="card-body">
                                  <h3 class="card-title card_title_red">Pack 2</h3>
                                  <p class="card-text card_text_white">With supporting text below as a natural lead-in to additional content.</p>
                                 
                                </div>
                              </div>
                            </div>
                           <div class="col-sm-4 mb-3 mb-sm-0">
                              <div class="card card_black">
                                <div class="card-body">
                                  <h3 class="card-title card_title_red">Pack 3</h3>
                                  <p class="card-text card_text_white">With supporting text below as a natural lead-in to additional content.</p>
                                 
                                </div>
                              </div>
                            </div>
                      </div>
                     
                    </div>
              </div>
          </div>
    </div>

    

</div>

{% endblock %}